:root {
  --darkest-green: #010E0E;
  --dark-green: #051616;
  --medium-green: #092323;
  --medium-light-green: #113E3E;
  --light-green: #96EDED;
  --lightest-green: #B9EFEF;
  --muted-green: #537E7E;
  --text-color: var(--light-green);
  --text-color-secondary: var(--medium-light-green);
  --primary-color: var(--light-green);
  --primary-color-text: var(--primary-color-text);
}

body {
  background: var(--dark-green);
  color: var(--light-green);
  margin: 0;
}

#root {
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

aside {
  background-color: var(--maskbg);
  width: 300px;
  padding: 1rem;
  overflow: scroll;

  img {
    margin: 0.75rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-block: 2rem;

    a {
      text-decoration: none;
      padding: 0.75rem;
      border-radius: var(--border-radius);
      display: flex;
      gap: 1rem;

      &:hover,
      &.active {
        background: var(--dark-green);
      }
    }
  }
}

main {
  padding: 1rem;
  overflow: scroll;
  flex: 1;
}

a {
  color: var(--light-green);
}

p {
  line-height: 1.5;
  color: var(--muted-green);
}

.header,
.form-area {
  padding: 1rem;
}

.p-progressbar {
  height: 6px;
  width: 740px;
  margin: auto;

  .p-progressbar-value {
    background: var(--light-green);
  }
}

#landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 2rem;

  h1 {
    font-size: 3rem;
    max-width: 560px;
    margin-block: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block: 0.5rem;

    input,
    .p-inputtext {
      width: 400px;
      max-width: 100%;

      & + small {
        margin-block-end: 1rem;
      }
    }

    & label {
      font-weight: bold;
    }
  }

  button {
    margin-block-start: 1rem;
  }

  .buttons {
    align-self: end;
  }
}

.p-dialog {
  border-color: var(--medium-green);

  .p-dialog-header {
    background: var(--dark-green);
    color: inherit;

    .p-dialog-title {
      font-size: 2rem;
    }

    .p-dialog-header-icon {
      color: inherit;
    }
  }

  .p-dialog-content {
    background: var(--dark-green);
    color: inherit;
  }
}

input,
.p-inputtext,
.p-dropdown,
.p-dropdown-items {
  background: var(--medium-light-green);
  border-color: var(--medium-green);
  color: var(--light-green);

  &::placeholder {
    color: var(--muted-green);
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item,
.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-first, 
.p-paginator .p-paginator-prev, 
.p-paginator .p-paginator-next, 
.p-paginator .p-paginator-last {
  color: var(--light-green);

  &:hover {
    color: var(--lightest-green);
  }
}

.p-dropdown .p-dropdown-trigger {
  color: var(--muted-green);
}

.p-chips-token {
  background: var(--darkest-green);
  color: var(--light-green);
}

.error {
  color: var(--red-400);
}

.p-button:not(.p-button-link) {
  background: var(--light-green);
  color: var(--dark-green);
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

button {
  width: fit-content;
}

.p-divider.p-divider-horizontal:before {
  border-color: var(--medium-light-green);
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--maskbg);
  border-color: var(--maskbg);
}

.p-paginator,
.p-datatable .p-datatable-tbody > tr,
.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  background-color: transparent;
  border-color: transparent;
  color: var(--light-green);
}

.p-datatable:has(.p-datatable-loading-overlay.p-component-overlay) {
  .p-datatable-loading-overlay.p-component-overlay {
    background: transparent;
  }

  .p-datatable-wrapper {
    margin-block-end: 100px;
  }
}