:root {
  --light-grey: #dfdfdf;
  --dark-grey: #222222;
  --darkest-grey: #111111;
  --white: #FFFFFF;
}

body  {
  background: var(--light-grey);
  color: var(--dark-grey);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  font-weight: bold;
}

main {
  margin-inline: 2rem;
}

.loading {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.p-button {

  &:not(.p-button-link) {
    background: var(--dark-grey);
    border-color: var(--darkest-grey);
    color: var(--light-grey);
  }

  &.p-button-link {
    color: var(--dark-grey);
  }
}

h1 {
  font-size: 4rem;
}

.subheading {
  font-size: 1.5rem;
}

.p-card {
  width: 300px;
  box-shadow: none;
  text-align: center;

  .p-card-header {
    display: flex;
    place-content: center;
    place-items: center;
    height: 180px;

    img:not(.cart-item-image > img) {
      max-width: 50%;
      margin: auto;
      height: 100%;
      object-fit: contain;
      padding: 1rem;
    }
  }

  .p-card-footer {

    .p-button {
      color: var(--white);
    }
  }
}

section {
  margin-block: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .p-card {
    flex-basis: calc(25% - 1rem);
  }
}

.cart-item {
  display: flex;
  margin: 1rem;

  .cart-item-image {
    width: 180px;
    padding: 2rem;
  }

  .cart-item-content {
    flex: 1;
    padding-inline-end: 1rem;
  }

  .cart-item-content,
  .cart-item-price {
    border-bottom: 1px solid var(--light-grey);
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 1rem;
}

.cart-button {
  display: flex;
  justify-content: end;

  button {
    color: var(--white);
  }
}

.hero {
  max-width: 1080px;
}